.App
{
 	min-height: 100vh;
 	background: linear-gradient(90deg, rgba(230,125,20,1) 0%, rgba(249,170,140,1) 50%, rgba(251,255,180,1) 100%);
 	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

.search-form
{
 	min-height: 10vh;
 	display: flex;
  	justify-content: center;
 	align-items: center; 
}

.search-bar
{
  	width: 50%;
 	border: none;
  	padding: 15px;
}

.search-button
{
	font-size: 15px;
	align-content: center;
  	background: rgb(0, 0, 0);
  	border: none;
  	padding: 15px 50px;
  	color: white;
  	cursor: pointer;
}

.recipes
{
  	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
  	margin-left: 100px;
	margin-right: 100px;
	border-radius: 20px;
}

@keyframes rotation 
{
	from {transform:rotate(0deg)}
	to {transform:rotate(-360deg)}
}

@keyframes expand 
{
	from {height: 0px;}
	to {height: max;}
}

.title
{
	background-color: rgba(255, 167, 167, 0.24);
	margin: auto;
	width: auto;
	padding: 5px;
	background-color: light-grey;
	background-size: auto;
	border: none;
	align-content: center;
  	animation: expand;
  	animation-duration: 1s;
  	text-decoration: none;
  	color: black;
    text-align: center;
}

@keyframes logoanim
{
	from {font-size: 0px;}
	to {font-size: max;}
}

.back
{
	position: fixed;
	top: 20px;
	right: 10px;
	padding: 18px;
	background-color: rgba(50, 50, 50, 0.5);
	border-radius: 20px;
	border: none;
	font-weight: 700;
	text-transform: uppercase;
	animation: logoanim;
	animation-duration: 3s;
	font-size: 12px;
	text-decoration: none;
	color: white;
}

.back:hover
{
	box-shadow: 0px 0px 10px black;
	transition: 0.5s;
}

.search-button:hover
{
  	box-shadow: 0px 5px 20px black;
  	transition: 0.5s;
}

.search-bar:hover
{
  	box-shadow: 0px 5px 20px black;
  	transition: 0.5s;
}